body{
    margin: 0;
    background: black;
    max-width: 100vw;
}

.wrapper{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.display{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: gray;
    font-size: 100px;
    width: 1000px;
    font-family: 'Ultra', serif;
    animation: blink 3s infinite;
}

@keyframes blink {
    0%{
        color: gray;
    }
    20%{
        color: gray;
    }
    50%{
        color: black;
    }
    55%{
        color: gray;
    }
    60%{
        color: black;
    }
    65%{
        color: gray;
    }
    100%{
        color: gray;
    }
}

.button{
    position: relative;
    margin-top: 300%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 20px;
    padding: 30px;
    text-align: center;
    align-items: center;
    border: 5px solid gray;
    color: ivory;
    font-family: 'Roboto', sans-serif;
}
