body{
    margin: 0;
    background-color: black;
}



div.title{
    position: absolute;
    left: 50%;
    top: 5vh;
    width: max-content;
    transform: translate(-50%, -50%);
    font-family: 'Goblin One', cursive;
    font-size: 40px;
    color: #80ffdb;
    animation: changeColor 5s linear infinite;
}

div.buttons{
    margin-top: -350px;
    margin-left: 0px;
    display: grid;
    grid-template-columns: 10px 10px 10px 10px 10px 10px 10px;
    grid-column-gap: 75px;
    text-align: center;
    justify-content: center;
    font-family: 'Goblin One', cursive;
}

i{
    transform: scale(4);
    cursor: pointer;
    color: #80ffdb;
    animation: changeColor 5s linear infinite;
}

i:hover{
    color: #00ff0a;
    box-shadow: 0 0 80px #00ff0a;
    animation: none;
}

div.board{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    min-width: 600px;
    min-height: 520px;
    border: 5px solid white;
    border-radius: 50px;
    background-color: black;
}

div.buttons{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

div.tiles{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    
}

div.space{
    background: black;
    border-radius: 50%;
    border: 2px solid white;
}

div.players{
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    font-family: 'Goblin One', cursive;
    font-size: 25px;
    color: white;
}

.player1{
    color: #f9c74f;
    
}

.player2{
    color: #9b2226;
    
}

div.current{
    position: absolute;
    left: 150px;
    top: -50px;
}

div.p1on{
    position: absolute;
    left: 170px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #f9c74f;
    border: 1px solid black;
    box-shadow: 0 0 80px #f9c74f;
}

div.p2on{
    position: absolute;
    left: 170px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #9b2226;
    box-shadow: 0 0 80px #9b2226;
    border: 1px solid #081c15;
}

.one{
    background: #f9c74f;
    border-radius: 50%;
    border: 2px solid #081c15;
}

.two{
    background: #9b2226;
    border-radius: 50%;
    border: 2px solid #081c15;
}

div.main{
  min-width: 100vw;
  min-height: 100vh;
}

.main{
    zoom: 0.9;
    -moz-transform: scale(0.8);
}

@media only screen and (max-width: 600px) {
    .main{
    
    -moz-transform: scale(0.9);
}
  .title {
    display: flex;
    left: 55%;
    width: fit-content;
    transform: translate(-50%, -50%);
    font-size: 80px;
  }
  body{
    transform: scale(0.6);
}
 .players{
    position: absolute;
    left: 50%;
    top: 1400px;
    transform: translate(-50%, -50%);
   
  }
}

@keyframes changeColor {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
